@mixin flexbox ($type: 'both') {

    display: flex;

    @if $type =='vertical' {
        justify-content: center;
    }

    @else if $type =='horizontal' {
        justify-content: center;
        align-items: center;
    }

    @else if $type =='start' {
        justify-content: flex-start;
        align-items: center;
    }

    @else if $type =='both' {
        justify-content: space-between;
        align-items: center;
    }
}